{%extends "home/header.html"%}

{%block content%}
{%load staticfiles%}

<div class = "container">
			<h1>Choose Class</h1>
			<a href = "/CMSC334">
				<button type="button" class="btn btn-neutral coursenum top20">
					<h1>CMSC 334 - Available</h1>
				</button>
			</a>

			<a href = "/CMSC341">
				<button type="button" class="btn btn-neutral coursenum top20">
					<h1>CMSC 341 - Available</h1>
				</button>
			</a>

			<button type="button" class="btn btn-neutral coursenum top20">
				<h1>CMSC 334 - Available</h1>
			</button>


</div>

{%endblock%}
